<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<title>Rango/</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
		<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
	</head>
	<body style="background-image: url({% static "images/game_pic/baolei.jpg" %});">
		<h1>Rango says...</h1>
		<div>hey there partner!</div>
		<div>
			{% if categories %}
			<ul>
				{% for category in categories %}
					<li>{{ category }}</li>
				{% endfor %}
			</ul>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}
		</div>
		<div>
			<a href='/rango/about'>About</a><br />
		<img class="Below" src="{% static "images/game_pic/Below.jpg" %}" alt="Below.jpg">
		</div>
	</body>
</html>

